<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>Controle Remoto</title>
  <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="css/dashboard.css" rel="stylesheet">

  <link rel="apple-touch-icon" sizes="57x57" href="images/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="images/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="images/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="images/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="images/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="images/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="images/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="images/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="images/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="images/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="images/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
  <link rel="manifest" href="images/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="images/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <ul id="header" class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#bedroom">Bedroom</a></li>
        <li><a data-toggle="tab" href="#living">Living</a></li>
		<li><a data-toggle="tab" href="#weather" onclick="GetWeather();">Weather</a></li>
      </ul>
      <div id="app" class="tab-content">
		<!-- Bedroom -->
        <div id="bedroom" class="active tab-pane level1" style="background-color: #fff">
          <ul class="nav nav-pills">
            <li class="active"><a data-toggle="tab" href="#atividades">Ativ</a></li>
            <li><a data-toggle="tab" href="#projetor">Proj</a></li>
            <li><a data-toggle="tab" href="#net">Net</a></li>
            <li><a data-toggle="tab" href="#ar">Ar</a></li>
          </ul>
          <div class="tab-content">
            <!-- Atividades Gerais -->
            <div id="atividades" class="tab-pane fade in active albert">
              <div class="main">
                <div class="row placeholders">
                  <div class="col-xs-6 col-sm-3 placeholder" onclick='IRTX("optoma","KEY_POWER","bedroom")'">
                    <img src="images/tv.png" class="img-responsive" alt="Projetor">
                    <h4 style="text-align:center">Projetor</h4>
                  </div>
                  <div class="col-xs-6 col-sm-3 placeholder" onclick='IRTX("fujitsu","CMD_OFF","bedroom")'>
                    <img src="images/off.png" class="img-responsive" alt="Desligar Ar">
                    <h4 style="text-align:center">Desligar Ar</h4>
                  </div>
                  <div class="col-xs-6 col-sm-3 placeholder" onclick='IRTX("fujitsu","CMD_23_COOL_1_1_1","bedroom")'>
                    <img src="images/snow-xxl.png" class="img-responsive" alt="Esfriar">
                    <h4 style="text-align:center">Esfriar 23C</h4>
                  </div>
                  <div class="col-xs-6 col-sm-3 placeholder" onclick='IRTX("fujitsu","CMD_23_HEAT_1_1_1","bedroom")'>
                    <img src="images/campfire2.png" class="img-responsive" alt="Esquentar">
                    <h4 style="text-align:center">Esquentar 23C</h4>
                  </div>
                </div>
              </div>
            </div>
            <!-- Projetor -->
            <div id="projetor" class="tab-pane fade innertab">
              <div class="main">
                <div class="row">
                  <div class="col-xs-6 col-sm-4 placeholder">
                    <span class="glyphicon glyphicon-off" style="font-size: 3em;color: #3AD506; text-align:center;display:block" onclick='IRTX("optoma","KEY_POWER","bedroom")'></span>
                  </div>
                  <div class="col-xs-6 col-sm-offset-4 col-sm-4 placeholder">
                    <span class="glyphicon glyphicon-off" style="font-size: 3em;color: #EB1616; text-align:center;display:block" onclick='IRTX("optoma","KEY_0","bedroom")'></span>
                  </div>
                </div>
                <br/>
                <div class="row">
                  <div style="display:flex;justify-content:center;flex-flow:row wrap;align-items:center">
                    <span class="glyphicon glyphicon-arrow-up" style="font-size: 4em;color:#337ab7;display:flex;flex:1 100%;justify-content:center" onclick='IRTX("optoma","KEY_VOLUMEUP","bedroom")'></span> 
                    <span class="glyphicon glyphicon-arrow-left" style="font-size: 4em; color: #337ab7" onclick='IRTX("optoma","KEY_LEFT","bedroom")'></span>    
                    <button type="button" class="btn btn-success" style="background-color: #337ab7; color: #fff;margin-left:1em;margin-right:1em" onclick='IRTX("optoma","KEY_OK","bedroom")'">OK</button>
                    <span class="glyphicon glyphicon-arrow-right" style="font-size: 4em; color: #337ab7" onclick='IRTX("optoma","KEY_RIGHT","bedroom")'></span>
                    <span class="glyphicon glyphicon-arrow-down" style="font-size: 4em;color:#337ab7;display:flex;flex:1 100%;justify-content:center" onclick='IRTX("optoma","KEY_VOLUMEDOWN","bedroom")'></span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-6 col-sm-4 placeholder">
                    <span class="glyphicon glyphicon-volume-down" style="font-size: 4em;color: #337ab7;text-align:center;display:block" onclick='IRTX("optoma","KEY_VOLUMEDOWN","bedroom")'></span>
                  </div>
                  <div class="col-xs-6 col-sm-offset-4 col-sm-4 placeholder">
                    <span class="glyphicon glyphicon-volume-up"   style="font-size: 4em;color: #337ab7;text-align:center;display:block" onclick='IRTX("optoma","KEY_VOLUMEUP","bedroom")'></span>
                  </div>
                </div>
                <br/>
                <div class="row text-center">
                  <button type="button" class="btn btn-success" style="background-color: #337ab7; color: #fff" ng-click="Optoma('KEY_MENU',1818)">Menu</button>
                  <button type="button" class="btn btn-success" style="background-color: #337ab7; color: #fff;margin-left:1em; margin-right:1em" ng-click="Optoma('KEY_1',1818)">Chromecast</button>
                  <button type="button" class="btn btn-success" style="background-color: #337ab7; color: #fff" ng-click="Optoma('KEY_2',1818)">Net</button>
                </div>
              </div>
            </div>
            <!-- Net -->
            <div id="net" class="tab-pane fade innertab">
              <div class="main">
                <div class="row text-center">
                  <div class="col-xs-6">
                    <span class="glyphicon glyphicon-off" style="font-size: 3em;color: #337ab7" onclick='IRTX("net","KEY_POWER","bedroom")'></span>
                  </div>
                  <div class="col-xs-6">
                    <button type="button" class="btn btn-success" style="background-color: #337ab7; color: #fff" onclick='IRTX("net","KEY_GREEN","bedroom")'>Idioma</button>
                  </div>
                </div>
                <br/>       
                <div class="row text-center">
                  <div class="col-xs-6">
                    <span class="glyphicon glyphicon-volume-up" style="font-size: 3.5em;color: #337ab7" onclick='IRTX("net","KEY_VOLUMEUP","bedroom")'></span>
                  </div>
                  <div class="col-xs-6">
                    <span class="glyphicon glyphicon-triangle-top" style="font-size: 3.5em;color: #337ab7" onclick='IRTX("net","KEY_CHANNELUP","bedroom")'></span>
                  </div>
                </div>
                <div class="row text-center">
                  <div class="col-xs-6">
                    <span class="glyphicon glyphicon-volume-down" style="font-size: 3.5em;color: #337ab7" onclick='IRTX("net","KEY_VOLUMEDOWN","bedroom")'></span>
                  </div>
                  <div class="col-xs-6">
                    <span class="glyphicon glyphicon-triangle-bottom" style="font-size: 3.5em;color: #337ab7" onclick='IRTX("net","KEY_CHANNELDOWN","bedroom")'></span>
                  </div>
                </div>
                <br/>
                <div class="row text-center" style="margin-bottom:0.5em;font-size: 2em;">
                  <div class="col-xs-12">
                    <button type="button" class="btn btn-success" style="background-color: #337ab7; color: #fff" onclick='IRTX("net","KEY_1","bedroom")'>1</button>
                    <button type="button" class="btn btn-success" style="background-color: #337ab7; color: #fff;margin-left:1em;margin-right:1em" onclick='IRTX("net","KEY_2","bedroom")'>2</button>
                    <button type="button" class="btn btn-success" style="background-color: #337ab7; color: #fff" onclick='IRTX("net","KEY_3","bedroom")'>3</button>
                  </div>
                </div>
                <div class="row text-center" style="margin-bottom:0.5em;font-size: 2em;">
                  <div class="col-xs-12">
                    <button type="button" class="btn btn-success" style="background-color: #337ab7; color: #fff" onclick='IRTX("net","KEY_4","bedroom")'>4</button>
                    <button type="button" class="btn btn-success" style="background-color: #337ab7; color: #fff; margin-left:1em; margin-right:1em" onclick='IRTX("net","KEY_5","bedroom")'>5</button>
                    <button type="button" class="btn btn-success" style="background-color: #337ab7; color: #fff" onclick='IRTX("net","KEY_6","bedroom")'>6</button>
                  </div>
                </div>
                <div class="row text-center" style="margin-bottom:0.5em;font-size: 2em;">
                  <div class="col-xs-12">
                    <button type="button" class="btn btn-success" style="background-color: #337ab7; color: #fff" onclick='IRTX("net","KEY_7","bedroom")'>7</button>
                    <button type="button" class="btn btn-success" style="background-color: #337ab7; color: #fff;margin-left:1em; margin-right:1em" onclick='IRTX("net","KEY_8","bedroom")'>8</button>
                    <button type="button" class="btn btn-success" style="background-color: #337ab7; color: #fff" onclick='IRTX("net","KEY_9","bedroom")'>9</button>
                  </div>
                </div>
                <div class="row text-center" style="font-size: 2em;">
                  <div class="col-xs-4 col-xs-offset-4">
                    <button type="button" class="btn btn-success" style="background-color: #337ab7; color: #fff" onclick='IRTX("net","KEY_0","bedroom")'>0</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- Ar condicionado -->
            <div id="ar" class="tab-pane fade innertab">
              <div class="main">
                <div class="row">
                  <div class= "col-xs-6 col-sm-4 placeholder">
                    <span class="glyphicon glyphicon-off" style="font-size: 3em;color: #3AD506; text-align:center;display:block" onclick='Fujitsu("ON",$("#ar #temp").val(),$("#ar #fan").val(),$("#ar #mode").val(),$("#ar #low_noise").val(),"bedroom")'></span>
                  </div>  
                  <div class= "col-xs-6 col-sm-offset-4 col-sm-4 placeholder">
                    <span class="glyphicon glyphicon-off" style="font-size: 3em;color: #EB1616; text-align:center;display:block" onclick='Fujitsu("OFF",$("#ar #temp").val(),$("#ar #fan").val(),$("#ar #mode").val(),$("#ar #low_noise").val(),"bedroom")'></span>
                  </div> 
                </div> 
                <br/>
                <div class="row" style="font-size:1.25em;"> 
                  <div class="col-xs-6">Temperatura</div>
                  <div class="col-xs-6">
                    <select style="width:100%" id="temp">
                      <option value="18">18C</option>
                      <option value="19">19C</option>
                      <option value="20">20C</option>
                      <option value="21">21C</option>
                      <option value="22">22C</option>
                      <option value="23" selected>23C</option>
                      <option value="24">24C</option>
                      <option value="25">25C</option>
                      <option value="26">26C</option>
                      <option value="27">27C</option>
                      <option value="28">28C</option>
                      <option value="29">29C</option>
                      <option value="30">30C</option>
                    </select>
                  </div>
                </div>
                <br/>
                <div class="row" style="font-size:1.25em;">  
                  <div class="col-xs-6">Fan</div>
                  <div class="col-xs-6">
                    <select style="width:100%" id="fan">
                      <option value="1" selected>1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="AUTO">Auto</option>
                    </select>
                  </div>
                </div>
                <br/>
                <div class="row" style="font-size:1.25em;">
                  <div class="col-xs-6">Mode</div>
                  <div class="col-xs-6">
                    <select style="width:100%" id="mode">
                      <option value="COOL">Cool</option>
                      <option value="HEAT">Heat</option>
                      <option value="AUTO" selected>Auto</option>
                    </select>
                  </div>
                </div>
                <br/>
                <div class="row" style="font-size:1.25em;"> 
                  <div class="col-xs-6">Low  Noise</div>
                  <div class="col-xs-6">
                    <select style="width:100%" id="low_noise">
                      <option value="1" selected>ON</option>
                      <option value="0">OFF</option>
                    </select>
                  </div>
                  <br/>
                  <br/>
                  <br/>
                  <div class="row-fluid"> 
                    <div class="col-xs-4 col-xs-offset-4">
                      <button type="button" class="btn btn-primary btn-block" style="background-color: #337ab7; color: #fff" onclick='Fujitsu("CUSTOM",$("#ar #temp").val(),$("#ar #fan").val(),$("#ar #mode").val(),$("#ar #low_noise").val(),"bedroom")'>OK</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Living -->
        <div id="living" class="tab-pane level1" style="background-color: #fff">
          <ul class="nav nav-pills">
            <li class="active"><a data-toggle="tab" href="#a2">Ativ</a></li>
            <li><a data-toggle="tab" href="#p2">Proj</a></li>
            <li><a data-toggle="tab" href="#n2">Net</a></li>
            <li><a data-toggle="tab" href="#ar2">Ar</a></li>
            <li><a data-toggle="tab" href="#yamaha">AV</a></li>
            <li><a data-toggle="tab" href="#kodi">Kodi</a></li>
          </ul>
          <div class="tab-content">
            <!-- Atividades Gerais -->
            <div id="a2" class="tab-pane fade in active innertab">
              <div class="main">
                <div class="row placeholders">
                  <div class="col-xs-6 col-sm-3 placeholder" onclick='_IRTX("optoma","KEY_POWER","living").then(Yamaha("ON"))'>
                    <img src="images/tv.png" class="img-responsive" alt="Projetor">
                    <h4 style="text-align:center">Projetor</h4>
                  </div>
                  <div class="col-xs-6 col-sm-3 placeholder" onclick='Samsung("OFF",23,1,"COOL",1,0,"living")'>
                    <img src="images/off.png" class="img-responsive" alt="Desligar Ar">
                    <h4 style="text-align:center">Desligar Ar</h4>
                  </div>
                  <div class="col-xs-6 col-sm-3 placeholder" onclick='Samsung("ON",23,1,"COOL",1,0,"living")'>
                    <img src="images/snow-xxl.png" class="img-responsive" alt="Esfriar">
                    <h4 style="text-align:center">Esfriar 23C</h4>
                  </div>
                  <div class="col-xs-6 col-sm-3 placeholder" onclick='Samsung("ON",23,1,"HEAT",1,0,"living")'>
                    <img src="images/campfire2.png" class="img-responsive" alt="Esquentar">
                    <h4 style="text-align:center">Esquentar 23C</h4>
                  </div>
                </div>
              </div>
            </div>
            <!-- Projetor -->
            <div id="p2" class="tab-pane fade innertab">
              <div class="main">
                <div class="row">
                  <div class="col-xs-6 col-sm-4 placeholder">
                    <span class="glyphicon glyphicon-off" style="font-size: 3em;color: #3AD506; text-align:center;display:block" onclick='IRTX("optoma","KEY_POWER","living")'></span>
                  </div>
                  <div class="col-xs-6 col-sm-offset-4 col-sm-4 placeholder">
                    <span class="glyphicon glyphicon-off" style="font-size: 3em;color: #EB1616; text-align:center;display:block" onclick='IRTX("optoma","KEY_0","living")'></span>
                  </div>
                </div>
                <br/>
                <div class="row">
                  <div style="display:flex;justify-content:center;flex-flow:row wrap;align-items:center">
                    <span class="glyphicon glyphicon-arrow-up" style="font-size: 4em;color:#337ab7;display:flex;flex:1 100%;justify-content:center" onclick='IRTX("optoma","KEY_VOLUMEUP","living")'></span> 
                    <span class="glyphicon glyphicon-arrow-left" style="font-size: 4em; color: #337ab7" onclick='IRTX("optoma","KEY_LEFT","living")'></span>    
                    <button type="button" class="btn btn-success" style="background-color: #337ab7; color: #fff;margin-left:1em;margin-right:1em" onclick='IRTX("optoma","KEY_OK","living")'">OK</button>
                    <span class="glyphicon glyphicon-arrow-right" style="font-size: 4em; color: #337ab7" onclick='IRTX("optoma","KEY_RIGHT","living")'></span>
                    <span class="glyphicon glyphicon-arrow-down" style="font-size: 4em;color:#337ab7;display:flex;flex:1 100%;justify-content:center" onclick='IRTX("optoma","KEY_VOLUMEDOWN","living")'></span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-6 col-sm-4 placeholder">
                    <span class="glyphicon glyphicon-volume-down" style="font-size: 4em;color: #337ab7;text-align:center;display:block" onclick='IRTX("optoma","KEY_VOLUMEDOWN","living")'></span>
                  </div>
                  <div class="col-xs-6 col-sm-offset-4 col-sm-4 placeholder">
                    <span class="glyphicon glyphicon-volume-up"   style="font-size: 4em;color: #337ab7;text-align:center;display:block" onclick='IRTX("optoma","KEY_VOLUMEUP","living")'></span>
                  </div>
                </div>
                <br/>
                <div class="row text-center">
                  <button type="button" class="btn btn-success" style="background-color: #337ab7; color: #fff" ng-click="Optoma('KEY_MENU',1818)">Menu</button>
                  <button type="button" class="btn btn-success" style="background-color: #337ab7; color: #fff;margin-left:1em; margin-right:1em" ng-click="Optoma('KEY_1',1818)">Chromecast</button>
                  <button type="button" class="btn btn-success" style="background-color: #337ab7; color: #fff" ng-click="Optoma('KEY_2',1818)">Net</button>
                </div>
              </div>
            </div>
            <!-- Net -->
            <div id="n2" class="tab-pane fade innertab">
              <div class="main">
                <div class="row text-center">
                  <div class="col-xs-6">
                    <span class="glyphicon glyphicon-off" style="font-size: 3em;color: #337ab7" onclick='IRTX("net","KEY_POWER","living")'></span>
                  </div>
                  <div class="col-xs-6">
                    <button type="button" class="btn btn-success" style="background-color: #337ab7; color: #fff" onclick='IRTX("net","KEY_GREEN","living")'>Idioma</button>
                  </div>
                </div>
                <br/>       
                <div class="row text-center">
                  <div class="col-xs-6">
                    <span class="glyphicon glyphicon-volume-up" style="font-size: 3.5em;color: #337ab7" onclick='IRTX("net","KEY_VOLUMEUP","living")'></span>
                  </div>
                  <div class="col-xs-6">
                    <span class="glyphicon glyphicon-triangle-top" style="font-size: 3.5em;color: #337ab7" onclick='IRTX("net","KEY_CHANNELUP","living")'></span>
                  </div>
                </div>
                <div class="row text-center">
                  <div class="col-xs-6">
                    <span class="glyphicon glyphicon-volume-down" style="font-size: 3.5em;color: #337ab7" onclick='IRTX("net","KEY_VOLUMEDOWN","living")'></span>
                  </div>
                  <div class="col-xs-6">
                    <span class="glyphicon glyphicon-triangle-bottom" style="font-size: 3.5em;color: #337ab7" onclick='IRTX("net","KEY_CHANNELDOWN","living")'></span>
                  </div>
                </div>
                <br/>
                <div class="row text-center" style="margin-bottom:0.5em;font-size: 2em;">
                  <div class="col-xs-12">
                    <button type="button" class="btn btn-success" style="background-color: #337ab7; color: #fff" onclick='IRTX("net","KEY_1","living")'>1</button>
                    <button type="button" class="btn btn-success" style="background-color: #337ab7; color: #fff;margin-left:1em;margin-right:1em" onclick='IRTX("net","KEY_2","living")'>2</button>
                    <button type="button" class="btn btn-success" style="background-color: #337ab7; color: #fff" onclick='IRTX("net","KEY_3","living")'>3</button>
                  </div>
                </div>
                <div class="row text-center" style="margin-bottom:0.5em;font-size: 2em;">
                  <div class="col-xs-12">
                    <button type="button" class="btn btn-success" style="background-color: #337ab7; color: #fff" onclick='IRTX("net","KEY_4","living")'>4</button>
                    <button type="button" class="btn btn-success" style="background-color: #337ab7; color: #fff; margin-left:1em; margin-right:1em" onclick='IRTX("net","KEY_5","living")'>5</button>
                    <button type="button" class="btn btn-success" style="background-color: #337ab7; color: #fff" onclick='IRTX("net","KEY_6","living")'>6</button>
                  </div>
                </div>
                <div class="row text-center" style="margin-bottom:0.5em;font-size: 2em;">
                  <div class="col-xs-12">
                    <button type="button" class="btn btn-success" style="background-color: #337ab7; color: #fff" onclick='IRTX("net","KEY_7","living")'>7</button>
                    <button type="button" class="btn btn-success" style="background-color: #337ab7; color: #fff;margin-left:1em; margin-right:1em" onclick='IRTX("net","KEY_8","living")'>8</button>
                    <button type="button" class="btn btn-success" style="background-color: #337ab7; color: #fff" onclick='IRTX("net","KEY_9","living")'>9</button>
                  </div>
                </div>
                <div class="row text-center" style="font-size: 2em;">
                  <div class="col-xs-4 col-xs-offset-4">
                    <button type="button" class="btn btn-success" style="background-color: #337ab7; color: #fff" onclick='IRTX("net","KEY_0","living")'>0</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- Ar condicionado -->
            <div id="ar2" class="tab-pane fade innertab">
              <div class="main">
                <div class="row">
                  <div class= "col-xs-6 col-sm-4 placeholder">
                    <span class="glyphicon glyphicon-off" style="font-size: 3em;color: #3AD506; text-align:center;display:block" onclick='Samsung("ON",$("#ar2 #temp").val(),$("#ar2 #fan").val(),$("#ar2 #mode").val(),$("#ar2 #low_noise").val(),$("#ar2 #swing").val(),"living")'></span>
                  </div>  
                  <div class= "col-xs-6 col-sm-offset-4 col-sm-4 placeholder">
                    <span class="glyphicon glyphicon-off" style="font-size: 3em;color: #EB1616; text-align:center;display:block" onclick='Samsung("OFF",$("#ar2 #temp").val(),$("#ar2 #fan").val(),$("#ar2 #mode").val(),$("#ar2 #low_noise").val(),$("#ar2 #swing").val(),"living")'></span>
                  </div> 
                </div> 
                <br/>
                <div class="row" style="font-size:1.25em;"> 
                  <div class="col-xs-6">Temperatura</div>
                  <div class="col-xs-6">
                    <select style="width:100%" id="temp">
                      <option value="18">18C</option>
                      <option value="19">19C</option>
                      <option value="20">20C</option>
                      <option value="21">21C</option>
                      <option value="22">22C</option>
                      <option value="23" selected>23C</option>
                      <option value="24">24C</option>
                      <option value="25">25C</option>
                      <option value="26">26C</option>
                      <option value="27">27C</option>
                      <option value="28">28C</option>
                      <option value="29">29C</option>
                      <option value="30">30C</option>
                    </select>
                  </div>
                </div>
                <br/>
                <div class="row" style="font-size:1.25em;">
                  <div class="col-xs-6">Mode</div>
                  <div class="col-xs-6">
                    <select style="width:100%" id="mode" onchange="SamValidate()">
                      <option value="COOL">Cool</option>
                      <option value="HEAT">Heat</option>
                      <option value="AUTO" selected>Auto</option>
                    </select>
                  </div>
                </div>
                <br/>
                <div class="row" style="font-size:1.25em;">  
                  <div class="col-xs-6">Fan</div>
                  <div class="col-xs-6">
                    <select style="width:100%" id="fan" disabled="true">
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="AUTO" selected>Auto</option>
                    </select>
                  </div>
                </div>
                <br/>
                <div class="row" style="font-size:1.25em;"> 
                  <div class="col-xs-6">Low  Noise</div>
                  <div class="col-xs-6">
                    <select style="width:100%" id="low_noise">
                      <option value="1" selected>ON</option>
                      <option value="0">OFF</option>
                    </select>
                  </div>
                </div>
                <br/>
                <div class="row" style="font-size:1.25em;"> 
                  <div class="col-xs-6">Swing</div>
                  <div class="col-xs-6">
                    <select style="width:100%" id="swing">
                      <option value="0" selected>OFF</option>
                      <option value="1">ON</option>
                    </select>
                  </div>
                </div>
                <br/>
                <div class="row" style="font-size:1.25em;"> 
                  <div class="row-fluid"> 
                    <div class="col-xs-4 col-xs-offset-4">
                      <button type="button" class="btn btn-primary btn-block" style="background-color: #337ab7; color: #fff" onclick='Samsung("ON",$("#ar2 #temp").val(),$("#ar2 #fan").val(),$("#ar2 #mode").val(),$("#ar2 #low_noise").val(),$("#ar2 #swing").val(),"living")'>OK</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Yamaha -->
            <div id="yamaha" class="tab-pane fade innertab">
              <div class="main">
                <div class="row">
                  <div class="col-xs-6 col-sm-4 placeholder">
                    <span class="glyphicon glyphicon-off" style="font-size: 3em;color: #3AD506; text-align:center;display:block" onclick='Yamaha("ON")'></span>
                  </div>
                  <div class="col-xs-6 col-sm-offset-4 col-sm-4 placeholder">
                    <span class="glyphicon glyphicon-off" style="font-size: 3em;color: #EB1616; text-align:center;display:block" onclick='Yamaha("OFF")'></span>
                  </div>
                </div>
                <br/>
                <div class="row" style="text-align: center">
                  <input type="text" class="knob" id="vol_knob" data-min=-80 data-max=0 data-width=175 data-angleOffset=-125 data-angleArc=250 data-fgColor="#337ab7" value="-40">
                </div>
                <div class="row text-center">
                  <button type="button" class="btn btn-success" style="background-color: #337ab7; color: #fff" onclick='Yamaha("HDMI1")'>Net</button>
                  <button type="button" class="btn btn-success" style="background-color: #337ab7; color: #fff;margin-left:1em; margin-right:1em" onclick='Yamaha("HDMI2")'>Chromecast</button>
                  <button type="button" class="btn btn-success" style="background-color: #337ab7; color: #fff; margin-right:1em" onclick='Yamaha("HDMI3")'>PI</button>
                  <button type="button" class="btn btn-success" style="background-color: #337ab7; color: #fff; margin-right:1em" onclick='Yamaha("HDMI4")'>PC</button>
                </div>
                <br/>
                <div class="row text-center">
                  <button type="button" class="btn btn-success" style="background-color: #337ab7; color: #fff" onclick='Yamaha("TUNER")'>Tuner</button>
                  <button type="button" class="btn btn-success" style="background-color: #337ab7; color: #fff;margin-left:1em; margin-right:1em" onclick='Yamaha("NETRADIO")'>Net radio</button>
                  <button type="button" class="btn btn-success" style="background-color: #337ab7; color: #fff" onclick='Yamaha("AIRPLAY")'>Airplay</button>
                </div>
              </div>
            </div>
            <!-- Kodi -->
            <div id="kodi" class="tab-pane fade innertab">
              <div class="main">
                <div class="row placeholders">
                  <div class="col-xs-6 col-sm-3 placeholder" ng-click="Yamaha(0,0)">
                    <img src="images/tv.png" class="img-responsive" alt="TESTE">
                    <h4 style="text-align:center">Kodi</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
		<!-- Weather -->
        <div id="weather" class="tab-pane level1" style="background-color: #fff">
          <ul class="nav nav-pills">
            <li class="active"><a data-toggle="tab" href="#wxbedroom">Bedroom</a></li>
            <li><a data-toggle="tab" href="#wxliving">Living</a></li>
          </ul>
          <div class="tab-content">
            <!-- Weather Bedroom -->
            <div id="wxbedroom" class="tab-pane fade in active innertab">
				<div style="width:100%;height:100%">
					<canvas id="myChart"></canvas>
				</div>
				<!-- style="position:absolute;top:100px !important;bottom:40px !important;width:100%" -->
            </div>
            <!-- Weather Living -->
            <div id="wxliving" class="tab-pane fade innertab">
              <div class="main">
              </div>
            </div>
          </div>
        </div>
	  </div>
    </div>
  </div>

  <!-- Static bottom navbar -->
  <nav class="navbar navbar-default navbar-fixed-bottom">
    <p class="navbar-text" style="width:100%; text-align:center">Criado por Albert e Paula - v2016.8</p>
  </nav>

  <script type="text/javascript" src="../bower_components/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="../bower_components/jquery-knob/dist/jquery.knob.min.js"></script>
  <script type="text/javascript" src="../bower_components/hammerjs/hammer.min.js"></script>
  <script type="text/javascript" src="../bower_components/chart.js/dist/Chart.bundle.min.js"></script>
  <script type="text/javascript" src="js/node_remote.js"></script>
</body>
</html>