body { 
  margin-bottom: 30px;
}

.navbar {
  min-height: 30px;
}
.navbar-text {
  margin-top: 5px;
  margin-bottom: 1px;
}

.nav-tabs {
  font-size: 1.25em;
  background-color: #428bca;
}
.nav-tabs>li>a {
  color:#fff;
  font-size: 1em;
}
.nav-tabs>li>a:hover, .nav-tabs>li>a:focus {
  border: 1px solid transparent;
  background-color: transparent; 
  color: #fff;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  color: #428bca;
  font-weight: bolder;
}

.nav-pills {
  font-size: 1.25em;
}
.nav-pills>li>a:hover, .nav-pills>li>a:focus {
  background-color: #fff; 
  color: #428bca;
  border: none;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  background-color: #fff;
  color: #428bca;
  font-weight: bolder;
}

.main {
  padding: 20px;
}

@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}

.main .page-header {
  margin-top: 0;
}

.btn:focus {
  outline: none;
}