<!DOCTYPE html>
<html lang="en" ng-app="remoteApp" ng-controller="remoteController">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>Controle Remoto</title>
  <link href="bs/css/bootstrap.min.css" rel="stylesheet">
  <link href="css/dashboard.css" rel="stylesheet">

  <link rel="apple-touch-icon" sizes="57x57" href="images/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="images/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="images/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="images/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="images/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="images/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="images/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="images/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="images/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="images/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="images/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
  <link rel="manifest" href="images/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="images/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="bs/js/bootstrap.min.js"></script>
  <script src="js/hammer.min.js"></script>
  <script src="js/remoto.js"></script>

  <script type="text/javascript">
    $(function(){
      var app = document.getElementById("app");

      Hammer(app).on("swiperight", function() {
        var $tab = $('.level1.active .nav-pills .active').prev();
        if ($tab.length > 0)
          $tab.find('a').tab('show');
      });

      Hammer(app).on("swipeleft", function() {
        var $tab = $('.level1.active .nav-pills .active').next();
        if ($tab.length > 0)
          $tab.find('a').tab('show');
      });
    });
  </script>
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <ul id="header" class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#quarto">Quarto</a></li>
        <li><a data-toggle="tab" href="#sala">Sala</a></li>
      </ul>

      <div id="app" class="tab-content">
        <div id="quarto" class="active tab-pane level1" style="background-color: #fff">
          <ul class="nav nav-pills">
            <li class="active"><a data-toggle="tab" href="#atividades">Atividades</a></li>
            <li><a data-toggle="tab" href="#projetor">Projetor</a></li>
            <li><a data-toggle="tab" href="#net">Net</a></li>
            <li><a data-toggle="tab" href="#ar">Ar</a></li>
          </ul>
          <div class="tab-content">
            <!-- Atividades Gerais -->
            <div id="atividades" class="tab-pane fade in active">
              <div class="main">
                <div class="row placeholders">
                  <div class="col-xs-6 col-sm-3 placeholder" ng-click="Optoma('KEY_POWER',1818)">
                    <img src="images/tv.png" class="img-responsive" alt="Projetor">
                    <h4 style="text-align:center">Projetor</h4>
                  </div>
                  <div class="col-xs-6 col-sm-3 placeholder" ng-click="Fujitsu('OFF',1818)">
                    <img src="images/off.png" class="img-responsive" alt="Desligar Ar">
                    <h4 style="text-align:center">Desligar Ar</h4>
                  </div>
                  <div class="col-xs-6 col-sm-3 placeholder" ng-click="Fujitsu('COOL23',1818)">
                    <img src="images/snow-xxl.png" class="img-responsive" alt="Esfriar">
                    <h4 style="text-align:center">Esfriar 23C</h4>
                  </div>
                  <div class="col-xs-6 col-sm-3 placeholder" ng-click="Fujitsu('HEAT23',1818)">
                    <img src="images/campfire2.png" class="img-responsive" alt="Esquentar">
                    <h4 style="text-align:center">Esquentar 23C</h4>
                  </div>
                </div>
              </div>
            </div>
            <!-- Projetor -->
            <div id="projetor" class="tab-pane fade">
              <div class="main">
                <div class="row">
                  <div class="col-xs-6 col-sm-4 placeholder">
                    <span class="glyphicon glyphicon-off" style="font-size: 3em;color: #3AD506; text-align:center;display:block" ng-click="Optoma('KEY_POWER',1818)"></span>
                  </div>
                  <div class="col-xs-6 col-sm-offset-4 col-sm-4 placeholder">
                    <span class="glyphicon glyphicon-off" style="font-size: 3em;color: #EB1616; text-align:center;display:block" ng-click="Optoma('KEY_0',1818)"></span>
                  </div>
                </div>
                <br/>
                <div class="row">
                  <div style="display:flex;justify-content:center;flex-flow:row wrap;align-items:center">
                    <span class="glyphicon glyphicon-arrow-up" style="font-size: 4em;color:#337ab7;display:flex;flex:1 100%;justify-content:center" ng-click="Optoma('KEY_VOLUMEUP',1818)"></span> 
                    <span class="glyphicon glyphicon-arrow-left" style="font-size: 4em; color: #337ab7" ng-click="Optoma('KEY_LEFT',1818)"></span>    
                    <button type="button" class="btn btn-success" style="background-color: #337ab7; color: #fff;margin-left:1em;margin-right:1em" ng-click="Optoma('KEY_OK',1818)">OK</button>
                    <span class="glyphicon glyphicon-arrow-right" style="font-size: 4em; color: #337ab7" ng-click="Optoma('KEY_RIGHT',1818)"></span>
                    <span class="glyphicon glyphicon-arrow-down" style="font-size: 4em;color:#337ab7;display:flex;flex:1 100%;justify-content:center" ng-click="Optoma('KEY_VOLUMEDOWN',1818)"></span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-6 col-sm-4 placeholder">
                    <span class="glyphicon glyphicon-volume-down" style="font-size: 4em;color: #337ab7;text-align:center;display:block" ng-click="Optoma('KEY_VOLUMEDOWN',1818)"></span>
                  </div>
                  <div class="col-xs-6 col-sm-offset-4 col-sm-4 placeholder">
                    <span class="glyphicon glyphicon-volume-up"   style="font-size: 4em;color: #337ab7;text-align:center;display:block" ng-click="Optoma('KEY_VOLUMEUP',1818)"></span>
                  </div>
                </div>
                <br/>
                <div class="row text-center">
                  <button type="button" class="btn btn-success" style="background-color: #337ab7; color: #fff" ng-click="Optoma('KEY_MENU',1818)">Menu</button>
                  <button type="button" class="btn btn-success" style="background-color: #337ab7; color: #fff;margin-left:1em; margin-right:1em" ng-click="Optoma('KEY_1',1818)">Chromecast</button>
                  <button type="button" class="btn btn-success" style="background-color: #337ab7; color: #fff" ng-click="Optoma('KEY_2',1818)">Net</button>
                </div>
              </div>
            </div>
            <!-- Net -->
            <div id="net" class="tab-pane fade">
              <div class="main">
                <div class="row text-center">
                  <div class="col-xs-6">
                    <span class="glyphicon glyphicon-off" style="font-size: 3em;color: #337ab7" ng-click="Net('KEY_POWER',1818)"></span>
                  </div>
                  <div class="col-xs-6">
                    <button type="button" class="btn btn-success" style="background-color: #337ab7; color: #fff" ng-click="Net('KEY_GREEN',1818)">Idioma</button>
                  </div>
                </div>
                <br/>       
                <div class="row text-center">
                  <div class="col-xs-6">
                    <span class="glyphicon glyphicon-volume-up" style="font-size: 3.5em;color: #337ab7" ng-click="Net('KEY_VOLUMEUP',1818)"></span>
                  </div>
                  <div class="col-xs-6">
                    <span class="glyphicon glyphicon-triangle-top" style="font-size: 3.5em;color: #337ab7" ng-click="Net('KEY_CHANNELUP',1818)"></span>
                  </div>
                </div>
                <div class="row text-center">
                  <div class="col-xs-6">
                    <span class="glyphicon glyphicon-volume-down" style="font-size: 3.5em;color: #337ab7" ng-click="Net('KEY_VOLUMEDOWN',1818)"></span>
                  </div>
                  <div class="col-xs-6">
                    <span class="glyphicon glyphicon-triangle-bottom" style="font-size: 3.5em;color: #337ab7" ng-click="Net('KEY_CHANNELDOWN',1818)"></span>
                  </div>
                </div>
                <br/>
                <div class="row text-center" style="margin-bottom:0.5em;font-size: 2em;">
                  <div class="col-xs-12">
                    <button type="button" class="btn btn-success" style="background-color: #337ab7; color: #fff" ng-click="Net('KEY_1',1818)">1</button>
                    <button type="button" class="btn btn-success" style="background-color: #337ab7; color: #fff;margin-left:1em;margin-right:1em" ng-click="Net('KEY_2',1818)">2</button>
                    <button type="button" class="btn btn-success" style="background-color: #337ab7; color: #fff" ng-click="Net('KEY_3',1818)">3</button>
                  </div>
                </div>
                <div class="row text-center" style="margin-bottom:0.5em;font-size: 2em;">
                  <div class="col-xs-12">
                    <button type="button" class="btn btn-success" style="background-color: #337ab7; color: #fff" ng-click="Net('KEY_4',1818)">4</button>
                    <button type="button" class="btn btn-success" style="background-color: #337ab7; color: #fff; margin-left:1em; margin-right:1em" ng-click="Net('KEY_5',1818)">5</button>
                    <button type="button" class="btn btn-success" style="background-color: #337ab7; color: #fff" ng-click="Net('KEY_6',1818)">6</button>
                  </div>
                </div>
                <div class="row text-center" style="margin-bottom:0.5em;font-size: 2em;">
                  <div class="col-xs-12">
                    <button type="button" class="btn btn-success" style="background-color: #337ab7; color: #fff" ng-click="Net('KEY_7',1818)">7</button>
                    <button type="button" class="btn btn-success" style="background-color: #337ab7; color: #fff;margin-left:1em; margin-right:1em" ng-click="Net('KEY_8',1818)">8</button>
                    <button type="button" class="btn btn-success" style="background-color: #337ab7; color: #fff" ng-click="Net('KEY_9',1818)">9</button>
                  </div>
                </div>
                <div class="row text-center" style="font-size: 2em;">
                  <div class="col-xs-4 col-xs-offset-4">
                    <button type="button" class="btn btn-success" style="background-color: #337ab7; color: #fff" ng-click="Net('KEY_0',1818)">0</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- Ar condicionado -->
            <div id="ar" class="tab-pane fade">
              <div class="main">
                <div class="row">
                  <div class= "col-xs-6 col-sm-4 placeholder">
                    <span class="glyphicon glyphicon-off" style="font-size: 3em;color: #3AD506; text-align:center;display:block" ng-click="Fujitsu('ON',1818)"></span>
                  </div>  
                  <div class= "col-xs-6 col-sm-offset-4 col-sm-4 placeholder">
                    <span class="glyphicon glyphicon-off" style="font-size: 3em;color: #EB1616; text-align:center;display:block" ng-click="Fujitsu('OFF',1818)"></span>
                  </div> 
                </div> 
                <br/>
                <div class="row" style="font-size:1.25em;"> 
                  <div class="col-xs-6">Temperatura</div>
                  <div class="col-xs-6">
                    <select style="width:100%" id="temp">
                      <option value="18">18C</option>
                      <option value="19">19C</option>
                      <option value="20">20C</option>
                      <option value="21">21C</option>
                      <option value="22">22C</option>
                      <option value="23" selected>23C</option>
                      <option value="24">24C</option>
                      <option value="25">25C</option>
                      <option value="26">26C</option>
                      <option value="27">27C</option>
                      <option value="28">28C</option>
                      <option value="29">29C</option>
                      <option value="30">30C</option>
                    </select>
                  </div>
                </div>
                <br/>
                <div class="row" style="font-size:1.25em;">  
                  <div class="col-xs-6">Fan</div>
                  <div class="col-xs-6">
                    <select style="width:100%" id="fan">
                      <option value="1" selected>1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="AUTO">Auto</option>
                    </select>
                  </div>
                </div>
                <br/>
                <div class="row" style="font-size:1.25em;">
                  <div class="col-xs-6">Mode</div>
                  <div class="col-xs-6">
                    <select style="width:100%" id="mode">
                      <option value="COOL">Cool</option>
                      <option value="HEAT">Heat</option>
                      <option value="AUTO" selected>Auto</option>
                    </select>
                  </div>
                </div>
                <br/>
                <div class="row" style="font-size:1.25em;"> 
                  <div class="col-xs-6">Low  Noise</div>
                  <div class="col-xs-6">
                    <select style="width:100%" id="low_noise">
                      <option value="1" selected>ON</option>
                      <option value="0">OFF</option>
                    </select>
                  </div>
                  <br/>
                  <br/>
                  <br/>
                  <div class="row-fluid"> 
                    <div class="col-xs-4 col-xs-offset-4">
                      <button type="button" class="btn btn-primary btn-block" style="background-color: #337ab7; color: #fff" ng-click="Fujitsu('CUSTOM',1818)">OK</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Sala -->
        <div id="sala" class="tab-pane level1" style="background-color: #fff">
          <ul class="nav nav-pills">
            <li class="active"><a data-toggle="tab" href="#a2">Atividades</a></li>
            <li><a data-toggle="tab" href="#p2">Projetor</a></li>
            <li><a data-toggle="tab" href="#n2">Net</a></li>
            <li><a data-toggle="tab" href="#ar2">Ar</a></li>
          </ul>
          <div class="tab-content">
            <!-- Atividades Gerais -->
            <div id="a2" class="tab-pane fade in active">
              <div class="main">
                <div class="row placeholders">
                  <div class="col-xs-6 col-sm-3 placeholder" ng-click="Optoma('KEY_POWER',1819)">
                    <img src="images/tv.png" class="img-responsive" alt="Projetor">
                    <h4 style="text-align:center">Projetor</h4>
                  </div>
                  <div class="col-xs-6 col-sm-3 placeholder" ng-click="Samsung('OFF',1819)">
                    <img src="images/off.png" class="img-responsive" alt="Desligar Ar">
                    <h4 style="text-align:center">Desligar Ar</h4>
                  </div>
                  <div class="col-xs-6 col-sm-3 placeholder" ng-click="Samsung('COOL23',1819)">
                    <img src="images/snow-xxl.png" class="img-responsive" alt="Esfriar">
                    <h4 style="text-align:center">Esfriar 23C</h4>
                  </div>
                  <div class="col-xs-6 col-sm-3 placeholder" ng-click="Samsung('HEAT23',1819)">
                    <img src="images/campfire2.png" class="img-responsive" alt="Esquentar">
                    <h4 style="text-align:center">Esquentar 23C</h4>
                  </div>
                </div>
              </div>
            </div>
            <!-- Projetor -->
            <div id="p2" class="tab-pane fade">
              <div class="main">
                <div class="row">
                  <div class="col-xs-6 col-sm-4 placeholder">
                    <span class="glyphicon glyphicon-off" style="font-size: 3em;color: #3AD506; text-align:center;display:block" ng-click="Optoma('KEY_POWER',1819)"></span>
                  </div>
                  <div class="col-xs-6 col-sm-offset-4 col-sm-4 placeholder">
                    <span class="glyphicon glyphicon-off" style="font-size: 3em;color: #EB1616; text-align:center;display:block" ng-click="Optoma('KEY_0',1819)"></span>
                  </div>
                </div>
                <br/>
                <div class="row">
                  <div style="display:flex;justify-content:center;flex-flow:row wrap;align-items:center">
                    <span class="glyphicon glyphicon-arrow-up" style="font-size: 4em;color:#337ab7;display:flex;flex:1 100%;justify-content:center" ng-click="Optoma('KEY_VOLUMEUP',1819)"></span> 
                    <span class="glyphicon glyphicon-arrow-left" style="font-size: 4em; color: #337ab7" ng-click="Optoma('KEY_LEFT',1819)"></span>    
                    <button type="button" class="btn btn-success" style="background-color: #337ab7; color: #fff;margin-left:1em;margin-right:1em" ng-click="Optoma('KEY_OK',1819)">OK</button>
                    <span class="glyphicon glyphicon-arrow-right" style="font-size: 4em; color: #337ab7" ng-click="Optoma('KEY_RIGHT',1819)"></span>
                    <span class="glyphicon glyphicon-arrow-down" style="font-size: 4em;color:#337ab7;display:flex;flex:1 100%;justify-content:center" ng-click="Optoma('KEY_VOLUMEDOWN',1819)"></span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-6 col-sm-4 placeholder">
                    <span class="glyphicon glyphicon-volume-down" style="font-size: 4em;color: #337ab7;text-align:center;display:block" ng-click="Optoma('KEY_VOLUMEDOWN',1819)"></span>
                  </div>
                  <div class="col-xs-6 col-sm-offset-4 col-sm-4 placeholder">
                    <span class="glyphicon glyphicon-volume-up"   style="font-size: 4em;color: #337ab7;text-align:center;display:block" ng-click="Optoma('KEY_VOLUMEUP',1819)"></span>
                  </div>
                </div>
                <br/>
                <div class="row text-center">
                  <button type="button" class="btn btn-success" style="background-color: #337ab7; color: #fff" ng-click="Optoma('KEY_MENU',1819)">Menu</button>
                </div>
              </div>
            </div>
            <!-- Net -->
            <div id="n2" class="tab-pane fade">
              <div class="main">
                <div class="row text-center">
                  <div class="col-xs-6">
                    <span class="glyphicon glyphicon-off" style="font-size: 3em;color: #337ab7" ng-click="Net('KEY_POWER',1819)"></span>
                  </div>
                  <div class="col-xs-6">
                    <button type="button" class="btn btn-success" style="background-color: #337ab7; color: #fff" ng-click="Net('KEY_GREEN',1819)">Idioma</button>
                  </div>
                </div>
                <br/>       
                <div class="row text-center">
                  <div class="col-xs-6">
                    <span class="glyphicon glyphicon-volume-up" style="font-size: 3.5em;color: #337ab7" ng-click="Net('KEY_VOLUMEUP',1819)"></span>
                  </div>
                  <div class="col-xs-6">
                    <span class="glyphicon glyphicon-triangle-top" style="font-size: 3.5em;color: #337ab7" ng-click="Net('KEY_CHANNELUP',1819)"></span>
                  </div>
                </div>
                <div class="row text-center">
                  <div class="col-xs-6">
                    <span class="glyphicon glyphicon-volume-down" style="font-size: 3.5em;color: #337ab7" ng-click="Net('KEY_VOLUMEDOWN',1819)"></span>
                  </div>
                  <div class="col-xs-6">
                    <span class="glyphicon glyphicon-triangle-bottom" style="font-size: 3.5em;color: #337ab7" ng-click="Net('KEY_CHANNELDOWN',1819)"></span>
                  </div>
                </div>
                <br/>
                <div class="row text-center" style="margin-bottom:0.5em;font-size: 2em;">
                  <div class="col-xs-12">
                    <button type="button" class="btn btn-success" style="background-color: #337ab7; color: #fff" ng-click="Net('KEY_1',1819)">1</button>
                    <button type="button" class="btn btn-success" style="background-color: #337ab7; color: #fff;margin-left:1em;margin-right:1em" ng-click="Net('KEY_2',1819)">2</button>
                    <button type="button" class="btn btn-success" style="background-color: #337ab7; color: #fff" ng-click="Net('KEY_3',1819)">3</button>
                  </div>
                </div>
                <div class="row text-center" style="margin-bottom:0.5em;font-size: 2em;">
                  <div class="col-xs-12">
                    <button type="button" class="btn btn-success" style="background-color: #337ab7; color: #fff" ng-click="Net('KEY_4',1819)">4</button>
                    <button type="button" class="btn btn-success" style="background-color: #337ab7; color: #fff; margin-left:1em; margin-right:1em" ng-click="Net('KEY_5',1819)">5</button>
                    <button type="button" class="btn btn-success" style="background-color: #337ab7; color: #fff" ng-click="Net('KEY_6',1819)">6</button>
                  </div>
                </div>
                <div class="row text-center" style="margin-bottom:0.5em;font-size: 2em;">
                  <div class="col-xs-12">
                    <button type="button" class="btn btn-success" style="background-color: #337ab7; color: #fff" ng-click="Net('KEY_7',1819)">7</button>
                    <button type="button" class="btn btn-success" style="background-color: #337ab7; color: #fff;margin-left:1em; margin-right:1em" ng-click="Net('KEY_8',1819)">8</button>
                    <button type="button" class="btn btn-success" style="background-color: #337ab7; color: #fff" ng-click="Net('KEY_9',1819)">9</button>
                  </div>
                </div>
                <div class="row text-center" style="font-size: 2em;">
                  <div class="col-xs-4 col-xs-offset-4">
                    <button type="button" class="btn btn-success" style="background-color: #337ab7; color: #fff" ng-click="Net('KEY_0',1819)">0</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- Ar condicionado -->
            <div id="ar2" class="tab-pane fade">
              <div class="main">
                <div class="row">
                  <div class= "col-xs-6 col-sm-4 placeholder">
                    <span class="glyphicon glyphicon-off" style="font-size: 3em;color: #3AD506; text-align:center;display:block" ng-click="Samsung('ON',1819)"></span>
                  </div>  
                  <div class= "col-xs-6 col-sm-offset-4 col-sm-4 placeholder">
                    <span class="glyphicon glyphicon-off" style="font-size: 3em;color: #EB1616; text-align:center;display:block" ng-click="Samsung('OFF',1819)"></span>
                  </div> 
                </div> 
                <br/>
                <div class="row" style="font-size:1.25em;"> 
                  <div class="col-xs-6">Temperatura</div>
                  <div class="col-xs-6">
                    <select style="width:100%" id="temp">
                      <option value="18">18C</option>
                      <option value="19">19C</option>
                      <option value="20">20C</option>
                      <option value="21">21C</option>
                      <option value="22">22C</option>
                      <option value="23" selected>23C</option>
                      <option value="24">24C</option>
                      <option value="25">25C</option>
                      <option value="26">26C</option>
                      <option value="27">27C</option>
                      <option value="28">28C</option>
                      <option value="29">29C</option>
                      <option value="30">30C</option>
                    </select>
                  </div>
                </div>
                <br/>
                <div class="row" style="font-size:1.25em;">
                  <div class="col-xs-6">Mode</div>
                  <div class="col-xs-6">
                    <select style="width:100%" id="mode" onchange="SamValidate()">
                      <option value="COOL">Cool</option>
                      <option value="HEAT">Heat</option>
                      <option value="AUTO" selected>Auto</option>
                    </select>
                  </div>
                </div>
                <br/>
                <div class="row" style="font-size:1.25em;">  
                  <div class="col-xs-6">Fan</div>
                  <div class="col-xs-6">
                    <select style="width:100%" id="fan" disabled="true">
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="AUTO" selected>Auto</option>
                    </select>
                  </div>
                </div>
                <br/>
                <div class="row" style="font-size:1.25em;"> 
                  <div class="col-xs-6">Low  Noise</div>
                  <div class="col-xs-6">
                    <select style="width:100%" id="low_noise">
                      <option value="1" selected>ON</option>
                      <option value="0">OFF</option>
                    </select>
                  </div>
                </div>
                <br/>
                <div class="row" style="font-size:1.25em;"> 
                  <div class="col-xs-6">Swing</div>
                  <div class="col-xs-6">
                    <select style="width:100%" id="swing">
                      <option value="0" selected>OFF</option>
                      <option value="1">ON</option>
                    </select>
                  </div>
                </div>
                <br/>
                <div class="row" style="font-size:1.25em;"> 
                  <div class="row-fluid"> 
                    <div class="col-xs-4 col-xs-offset-4">
                      <button type="button" class="btn btn-primary btn-block" style="background-color: #337ab7; color: #fff" ng-click="Samsung('CUSTOM',1819)">OK</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Static bottom navbar -->
  <nav class="navbar navbar-default navbar-fixed-bottom">
    <p class="navbar-text" style="width:100%; text-align:center">Criado por Albert e Paula - v2016.6</p>
  </nav>

</body>
</html>